on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

name: Run tests

jobs:
  tox_test:
    name: Tox tests
    steps:
    - uses: actions/checkout@v4
    - name: Run Tox tests
      id: test
      uses: fedora-python/tox-github-action@main
      with:
        tox_env: ${{ matrix.tox_env }}
    strategy:
      matrix:
        tox_env:
         - py39-pytest7
         - py39-pytest8
         - py310-pytest7
         - py310-pytest8
         - py311-pytest7
         - py311-pytest8
         - py312-pytest7
         - py312-pytest8
         - py313-pytest7
         - py313-pytest8

    # Use GitHub's Linux Docker host
    runs-on: ubuntu-latest
  pre_cmmit:
    name: Pre-commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
      - uses: pre-commit/action@v3.0.1
